@charset "UTF-8";

:root {
    --cor-tema-escuro: #305d80;
    --cor-tema: #51C6FC;
    --cor-tema-claro: #96deff;
    --cor-tema-muito-claro: whitesmoke;
    --cor-destaque: #FCAE51;
    --cor-fundo: whitesmoke;
    --letras: #070707;
    --letras-contraste: #f5f5f5;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor-tema);
    margin: 0px;
}

main {
    padding-top: 60px;
}

nav {
    display: flex;
    z-index: 1000;
    position: fixed;
    top: 0;
    background-color: var(--cor-tema-claro);
    height: 70px;
    width: 350px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.123);
}

nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 50px;
    width: auto;
}

nav li > a {
    background-color: var(--letras-contraste);
    font-size: 1.2em;
    padding: 15px;
    border-radius: 10px;
    color: var(--cor-tema-escuro);
    justify-content: center;
    align-items: center;
}

div.divclass {
    background-color: var(--cor-tema-claro);
    margin: 20px;
    padding-bottom: 1px;
    border-radius: 10px;
    clip-path: polygon(170px 0, 0 0, 0 100%, 100% 100%, 100% 39px, 210px 39px);
}

div#titulo {
    margin-bottom: 30px;
}

div.titulo > p, h1 {
    direction: rtl;
    color: var(--letras-contraste);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.140);
}

div.foto {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-tema-escuro);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.140);
}

div#titulo img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    width: 200px;
}

div.titulotexto > p {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: var(--letras-contraste);
}

div.titulotexto {
    text-align: right;
    margin-bottom: 30px;
}

div#home {
    background-color: var(--cor-tema);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

div#home h2 {
    background-image: linear-gradient(to right, var(--cor-destaque), var(--cor-tema) 50%);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: var(--letras-contraste);
}

p.home {
    color: var(--letras-contraste);
    margin-bottom: 50px;
}

div.grid {
    
}

div.video {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-tema-escuro);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.140);
}

iframe {
    width: 90%;
    height: 75%;
}

div.grid h2 {
    background-image: linear-gradient(to right, var(--cor-destaque), var(--cor-tema-claro) 50%);
    padding: 5px;
    border-top-left-radius: 10px;
    margin-bottom: 20px;
    color: var(--letras);
}

div.grid p {
    margin-bottom: 50px;
    color: var(--letras);
}

div.fundo {
    background-color: var(--cor-tema-muito-claro);
    margin: 20px;
    padding: 10px;
}

div#social {
    
}

div#formations {

}

div#works {

}

div#more {

}

