@charset "UTF-8";

:root {
    --cor-tema-escuro: #305d80;
    --cor-tema: #51C6FC;
    --cor-tema-claro: #96deff;
    --cor-tema-muito-claro: whitesmoke;
    --cor-destaque: #FCAE51;
    --cor-fundo: whitesmoke;
    --letras: #070707;
    --letras-contraste: #f5f5f5;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* ------------------------- CSS para celulares ------------------------- */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor-tema);
    margin: 0px;
}

main {
    padding-top: 60px;
}

nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    background-color: var(--cor-tema-claro);
    height: 75px;
    width: 350px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.123);
}

nav ul {
    height: 75px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

nav li > a {
    background-color: var(--letras-contraste);
    font-size: 1.2em;
    padding: 15px;
    border-radius: 10px;
    color: var(--cor-tema-escuro);
}

li > a:hover {
    background-color: var(--cor-tema-escuro);
    color: var(--cor-destaque);
    transition: background-color 0.5s, color 0.3s;
}

div.divclass {
    background-color: var(--cor-tema-claro);
    margin: 20px;
    padding-bottom: 1px;
    border-radius: 10px;
    clip-path: polygon(170px 0, 0 0, 0 100%, 100% 100%, 100% 39px, 210px 39px);
}

div#titulo {
    margin-bottom: 30px;
}

div.titulo > p, h1 {
    direction: rtl;
    color: var(--letras-contraste);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.140);
}

div.foto {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-tema-escuro);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.140);
}

div#titulo img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    width: 200px;
}

div.titulotexto > p {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: var(--letras-contraste);
}

div.titulotexto {
    text-align: right;
    margin-bottom: 30px;
}

div#home {
    background-color: var(--cor-tema);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

div#home h2 {
    background-image: linear-gradient(to right, var(--cor-destaque), var(--cor-tema) 50%);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: var(--letras-contraste);
}

p.home {
    color: var(--letras-contraste);
    margin-bottom: 50px;
}

div.video {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-tema-escuro);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.140);
}

iframe {
    width: 90%;
    height: 75%;
}

div.grid h2 {
    background-image: linear-gradient(to right, var(--cor-destaque), var(--cor-tema-claro) 50%);
    padding: 5px;
    border-top-left-radius: 10px;
    margin-bottom: 20px;
    color: var(--letras);
}

div.grid p {
    margin-bottom: 50px;
    color: var(--letras);
}

div.fundo {
    background-color: var(--cor-tema-muito-claro);
    margin: 20px;
    padding: 10px;
}

div.fundo p {
    color: var(--letras);
    line-height: 1.4em;
    padding-top: 10px;
    padding-left: 20px;
}

div#social a {
    display: block;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2em;
    padding: 10px;
    color: var(--letras);
}

img.imgilustrativasocial {
    display: none;
}

div#social a:hover {
    color: var(--cor-destaque);
    transition: color 0.3s;
}

div#homepc {
    display: none;
}

footer {
    background-color: var(--cor-tema-claro);
    color: var(--letras-contraste);
    padding: 0.5px;
    text-align: center;
}

footer a {
    color: var(--letras-contraste);
    text-decoration: none;
    font-weight: bold;
}


/* ------------------------- CSS para tablets ------------------------- */
@media screen and (min-width: 601px) and (max-width: 900px) {
    
}

/* ------------------------- CSS para PCs ------------------------- */
@media screen and (min-width: 901px) {
    section{
        display: grid;
        grid-template-columns: 500px 1fr;
        grid-template-rows: auto;
    }
    
    header {
        grid-area: 1/1/2;
    }
    
    nav {
        width: 465px;
    }
    
    nav ul {
        height: 75px;
        width: 465px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        list-style: none;
    }
    
    div.divclass {
        height: 824px;
        clip-path: polygon(330px 0, 0 0, 0 100%, 100% 100%, 100% 39px, 370px 39px);
        grid-area: 1/2/3;
    }
    
    div.divclass h2 {
        padding-left: 20px;
        background-image: linear-gradient(to right, var(--cor-destaque), var(--cor-tema-claro) 40%);
    }
    
    div#homepc {
        display: block;
    }

    div#homenothing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div#homenothing p {
        font-size: 1.2em;
        margin-bottom: 50px;
        color: var(--letras);
        font-weight: bold;
    }

    div#homepc h2 {
        padding: 5px;
        padding-left: 30px;
        border-top-left-radius: 10px;
        margin-bottom: 20px;
        color: var(--letras);
    }

    div.fundo {
        height: 745px;
        overflow: scroll;
    }

    div#social {
        display: none;
    }

    div#social a {
        margin-left: 70px;
        display: block;
        text-decoration: none;
        font-weight: bolder;
        font-size: 2em;
        padding: 10px;
        color: var(--letras);
        width: 350px;
    }

    img.imgilustrativasocial {
        display: block;
        height: 400px;
    }

    div#formations {
        display: none;
    }

    div#works {
        display: none;
    }

    div#more {
        display: none;
    }

    footer {
        width: 469px;
        border-top-right-radius: 10px;
    }
}