@charset "UTF-8";

:root {
    --cor-tema-escuro: #305d80;
    --cor-tema: #51C6FC;
    --cor-tema-claro: #96deff;
    --car-tema-muito-claro: #d8f3ff;
    --cor-destaque: #FCAE51;
    --cor-fundo: whitesmoke;
    --letras: #070707;
    --letras-contraste: #f5f5f5;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor-tema);
}

main {
    padding-top: 25px;
}

nav {
    position: fixed;
    top: 0;
    background-color: var(--cor-tema-claro);
    height: 50px;
    width: 350px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.123);
}

nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 50px;
    width: auto;
}

div.divclass {
    background-color: var(--cor-tema-claro);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

div#home {
    background-color: var(--cor-tema);
}

div#titulo {
    margin-bottom: 30px;
}

div.titulo > p, h1 {
    direction: rtl;
    color: var(--letras-contraste);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.140);
}

div.foto {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-tema-escuro);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.140);
}

div#titulo img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    width: 240px;
}

div.titulo > p {
    font-size: 1.3em;
}

div.titulo {
    margin-bottom: 30px;
}

div#home h2 {
    background-image: linear-gradient(to right, var(--cor-destaque), var(--cor-tema) 60%);
    color: var(--letras-contraste);
}

div#home p {
    color: var(--letras-contraste);
}

div.grid > h2 {
    background-image: linear-gradient(to right, var(--cor-destaque), var(--cor-tema-claro) 60%);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: var(--letras);
}

div.grid p {
    margin-bottom: 50px;
}

div.video {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-tema-escuro);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.140);
}

iframe {
    width: 90%;
    height: 75%;
}


div#social {

}

div#reviews {

}

div#works {

}

div#more {

}

